body
footer{
    font-family: 'Ubuntu', sans-serif;
}

.pageTitle{
    text-align: center;
    margin: 50px;
}

a{
    color: rgb(27, 25, 23);
    transition: color .5s;
}
  
a:hover{
    color: rgb(23, 162, 184);
    transition: color .5s;
}

#actualPage{
    color: rgb(23, 162, 184);
}

hr{
    width: 40%;
    border-top: 2px solid rgb(27, 25, 23);
    border-radius: 20px;
}

.cards{
    margin: 20px;
}

footer{
    margin: 20px;;
    text-align: center;
}